!!! Strict
%html{:lang => "ru", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "68b5960c88c25e8a", :name => "yandex-verification"}/
    %title Все о Китае  |  WayToChina.org

    = html::style('public/css/welcome')
    = html::script('public/js/jquery')

    -# Swap images on hover right menu links
    :javascript
      $(document).ready(function(){
        $('#menu_wrapper a').hover(function(){
          $('#splash_images img').hide();
          $('#' + $(this).attr('rel')).show();
        });
      });

  %body
    #wrapper
      #header 
        .logo= html::anchor('/', '')
        .languages
          = $lang_menu->render()
          = html::anchor('/', __('Контакты'))
        .clear

      #content
        .splash
          #menu_wrapper 
            %a{:href => '/business', :rel => 'big1'}
              %h1= __('Бизнес в Китае')
              %p=  __('Здесь надежные партнеры и выгодные предложения')
            %a{:href => '/education', :rel => 'big2'}
              %h1= __('Образование в Китае')
              %p=  __('Увлекательная учеба и перспективное будущее')
            %a{:href => '/translation', :rel => 'big3'}
              %h1= __('Услуги перевода')
              %p=  __('Профессионально. Оперативно. Мобильно')
            %a{:href => '/blog', :rel => 'big4'}
              %h1= __('Блог о Китае')
              %p=  __('Город, люди, события')
            %a{:href => '/questions', :rel => 'big5'}
              %h1= __('Ваш вопрос о Китае')
              %p=  __('Мы открыты к диалогу! Спрашивайте!')

          #splash_images
            = html::image('/public/images/layouts/welcome/splash/big1.jpg', array('id' => 'big1'))
            = html::image('/public/images/layouts/welcome/splash/big2.jpg', array('id' => 'big2'))
            = html::image('/public/images/layouts/welcome/splash/big3.jpg', array('id' => 'big3'))
            = html::image('/public/images/layouts/welcome/splash/big4.jpg', array('id' => 'big4'))
            = html::image('/public/images/layouts/welcome/splash/big5.jpg', array('id' => 'big5'))
      .clear

      .weather_block
        = Request::factory("weather/russia_widget")->execute()
        = Request::factory("weather/china_widget")->execute()
        = Request::factory("converter/widget")->execute()
      .clear

      #footer
        .links
          = html::anchor('/', '"' . __("Мост в Китай") . '"')
          = '&nbsp;|&nbsp;'
          = html::anchor('/', __('О нас'))
          = '&nbsp;|&nbsp;'
          = html::anchor('/', __('Контакты'))
          %br
          = '&copy;'
          = html::anchor('/', 'www.waytochina.org')
        .sections
          = html::anchor('/', str_replace(' ', '&nbsp;', __('Образование в Китае, учеба в Китае')))
          = '&nbsp;'
          = html::anchor('/', str_replace(' ', '&nbsp;', __('Перевод с китайского')))
          = '&nbsp;'
          = html::anchor('/', str_replace(' ', '&nbsp;', __('Бизнес в Китае')))
